# Java / Maven
target/
*.class
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

# Environment
.env

# Node
node_modules/
dist/
.angular/

# IDE
.idea/
*.iml
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
